.gcloudignore

.git
.gitignore

/.circleci/
/docker/
/tests/
/vendor/
.editorconfig
.env
.env.example
.env.testing
.phpunit.result.cache
docker-compose.yml
phpcs.xml
phpstan.neon
phpunit.xml
README.md
